<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Edit Your Professional Persona</h4>
</div>
<div class="modal-body">
    <div class="span11">
        <a name="demo"></a>
        <div class="rootwizard">
            <div class="navbar">
                <div class="navbar-inner">
                        <div class="row">
                            <div class="col-md-2">
                                <ul class="nav nav-stacked createProfPersonaNav">
                                    <li><a href=".tab1" data-toggle="tab">Required</a></li>
                                    <li><a href=".tab2" data-toggle="tab">Basic</a></li>
                                    <li><a href=".tab3" data-toggle="tab">Education &#38; Employment</a></li>
                                    <li><a href=".tab4" data-toggle="tab">Personal</a></li>
                                    <li><a href=".tab5" data-toggle="tab">Physical</a></li>
                                    <li><a href=".tab6" data-toggle="tab">Interests</a></li>
                                    <li><a href=".tab7" data-toggle="tab">Wallet</a></li>
                                    <li><a href=".tab8" data-toggle="tab">Delete Persona</a></li>
                                </ul>
                            </div>
                            <div class="col-md-9">
                                <div class="tab-content">
                                    <div class="dashboard_tab tab-pane tab1">
                                        <table style="width:100%">
                                            <tr>
                                                <td>Generated</td>
                                                <td>
                                                    <input type="text" placeholder="baldeep@netID.com" id="persona_email" disabled>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Persona Name</td>
                                                <td>
                                                    <input type="text" id="edit_prof_name" required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Description</td>
                                                <td>
                                                    <textarea id="edit_prof_description"></textarea>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="dashboard_tab tab-pane tab2">
                                        <table style="width:100%">
                                            <tr>
                                                <td>Name</td>
                                                <td>
                                                    <input type="text" id="edit_prof_real_name">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Check the box to show your sex in this Persona</td>
                                                <td>
                                                    <input type="checkbox" id="edit_prof_showSex"><span>I acknowledge that by checking this box, connections will be able to see my sex upon connecting.</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Check the box to your age in this Persona</td>
                                                <td>
                                                    <input type="checkbox" id="edit_prof_showAge"><span>I acknowledge that by checking this box, connections will be able to see my age upon connecting.</span></td>
                                            </tr>
                                            <tr>
                                                <td>Phone Number</td>
                                                <td>
                                                    <input type="text" id="edit_prof_number">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Hometown</td>
                                                <td>
                                                    <input type="text" id="edit_prof_hometown">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Additional Information</td>
                                                <td>
                                                    <textarea id="edit_prof_add_info"></textarea>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="dashboard_tab tab-pane tab3">
                                        <table style="width:100%">
                                            <tr>
                                                <td>Education History</td>
                                                <td>
                                                    <select id="edit_prof_edu" class="selectpicker" multiple title="Select from existing...">
                                                        <option>UCSC 2011</option>
                                                        <option>CSUN 2015</option>
                                                        <option>Harvard 2008</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Additional Education Information</td>
                                                <td>
                                                    <textarea id="edit_prof_add_school_info"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Employment History</td>
                                                <td>
                                                    <select id="edit_prof_employ" class="selectpicker" multiple title="Select from existing">
                                                        <option>Digital Money Corp</option>
                                                        <option>NetID</option>
                                                        <option>Google</option>
                                                        <option>Facebook</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Additional Professional Information</td>
                                                <td>
                                                    <textarea id="edit_prof_add_job_info"></textarea>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="dashboard_tab tab-pane tab4">
                                        <table style="width:100%">
                                            <tr>
                                                <td>Political Affiliation:</td>
                                                <td>
                                                    <input type="text" id="edit_prof_politics">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Religion</td>
                                                <td>
                                                    <input type="text" id="edit_prof_religion">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Relationship Status</td>
                                                <td>
                                                    <select class="selectpicker" id="edit_prof_rltnshp" title="Select from existing...">
                                                        <option>Single</option>
                                                        <option>In A Relationship</option>
                                                        <option>Engaged</option>
                                                        <option>Married</option>
                                                        <option>In An Open Relationship</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Number of Children</td>
                                                <td>
                                                    <input type="text" id="edit_prof_children">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Gender</td>
                                                <td>
                                                    <input type="text" id="edit_prof_gender">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Languages Spoken</td>
                                                <td>
                                                    <textarea id="edit_prof_languages"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Ethnicity</td>
                                                <td>
                                                    <input type="text" id="edit_prof_ethnicity">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Tell us a little more about you, your family, and any other information you would like ot share</td>
                                                <td>
                                                    <textarea id="edit_prof_more_info"></textarea>
                                                </td>
                                            </tr>
                                        </table>
                                        <br>
                                    </div>
                                    <div class="dashboard_tab tab-pane tab5">
                                        <table style="width:100%">
                                            <tr>
                                                <td>
                                                    <select class="selectpicker" id="edit_prof_units" title="Select Units">
                                                        <option>Metric</option>
                                                        <option>US Standard</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Height</td>
                                                <td>
                                                    <input type="text" id="edit_prof_height">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Weight</td>
                                                <td>
                                                    <input type="text" id="edit_prof_weight">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Hair Color</td>
                                                <td>
                                                    <input type="text" id="edit_prof_hair_color">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Eye Color</td>
                                                <td>
                                                    <input type="text" id="edit_prof_eye_color">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Please add any additional details</td>
                                                <td>
                                                    <textarea id="edit_prof_phys_add_info"></textarea>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="dashboard_tab tab-pane tab6">
                                        <table style="width:100%">
                                            <tr>
                                                <td>Hobbies</td>
                                                <td>
                                                    <textarea id="edit_prof_hobbies"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Favorite Movies</td>
                                                <td>
                                                    <textarea id="edit_prof_movies"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Favorite Music</td>
                                                <td>
                                                    <textarea id="edit_prof_music"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Favorite TV Shows</td>
                                                <td>
                                                    <textarea id="edit_prof_tv_shows"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Favorite Books</td>
                                                <td>
                                                    <textarea id="edit_prof_books"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Favorite Sports</td>
                                                <td>
                                                    <textarea id="edit_prof_sports"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Additional Information</td>
                                                <td>
                                                    <textarea id="edit_prof_fave_add_info"></textarea>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="dashboard_tab tab-pane tab7">
                                        <p>Your NetID Wallet</p>
                                        <hr>
                                        <button class="btn btn-primary wallet_btn">Mastercard - 7654</button>
                                        <br>
                                        <br>
                                        <button class="btn btn-primary wallet_btn">Visa - 5555</button>
                                        <br>
                                        <br>
                                        <button class="btn btn-primary wallet_btn"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Wallet</button>
                                    </div>
                                    <div class="dashboard_tab tab-pane tab8">
                                        <div class="content_container">
                                            <h3 class="delete_persona_title">Are you sure you want to delete your Persona?</h3>
                                            <hr class="delete_persona_hr"></hr>
                                            <p class="delete_persona_description">You are about to delete your Persona, including any posts you have made.<br>Your information will be permanently removed from our system.<br>You cannot undo this action.</p>
                                            <button class="btn delete_persona_btn prof_persona_delete">Yes, delete</button>
                                            <button class="btn delete_prof_persona_cancel_btn">Cancel</button>
                                        </div>
                                    </div>
                                    <ul class="pager wizard wizButtonsProf">
                                        <li class="next finish" style="display:none;"><a href="javascript:;">Complete</a></li>
                                        <li class="next"><a href="javascript:;">Next</a></li>
                                        <li class="previous"><a href="javascript:;">Previous</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!--/span-->
</div>