<!DOCTYPE HTML>
<html>
<div id="addPersonaContainer" class="row">
	<div id="myCarousel" class="carousel addPersonaCarousel" data-ride="carousel" data-interval="false">
	    <div class="carousel-inner addPersonaInner">
	    	<!-- firstpanel -->
		    <div class="row item addPersonaSlide1Active">
				<div class="row col-sm-4 col-sm-offset-4 addPersonaImage">
					<div class="col-sm-11 col-sm-offset-1 addImageBtn">
						<img src="images/avatar.png" alt="avatar image">
					</div>
					<div class="col-sm-8 col-sm-offset-1 addImageUpload">
						<div class = "form-group addImageUploadBtn">
						    <input type = "file" id = "inputfile">
						    <p class = "help-block">At least 300px x 300px</p>
						</div>
					</div>
				</div>
				<div class="row col-sm-8 col-sm-offset-2 addPersonaInputFields">
					<div class="col-sm-12 addPersonaDropdown">
						<select class="col-sm-4 selectpicker btn btn-primary">
						    <option>Social</option>
						    <option>Professional</option>
				    	</select>
					</div>
					<input type="text" class="form-control" placeholder="Persona Name">
					<textarea class="form-control" rows="4" placeholder="Persona Description" style="resize:none"></textarea>
				</div>
		    </div>
		    <!-- secondpanel -->
		    <div class="row item addPersonaSlide2Active">	
		    	<div class="row col-sm-8 col-sm-offset-2 requiredField1">
		    		<h4>Required Information</h4>
		    		<hr>
		    	</div>
		    	<div class="row col-sm-2 col-sm-offset-2 requiredField2">
			    	<div class="form-group">
					    <label for="name">Age</label>
					    <input type="text" class="form-control" id="name">
					</div>
			    </div>
				<div class="row col-sm-7 col-sm-offset-2 requiredField3">
					<label for="name">Sex</label>
			     	<select class="form-control">
				         <option>Male</option>
				         <option>Female</option>
			      	</select>
		    	</div>	
			    <div class="row col-sm-6 col-sm-offset-2 requiredField4">    
			        <label for="name">Marital Status</label>
				     	<select class="form-control">
					         <option>Single</option>
					         <option>Married</option>
					         <option>Engaged</option>
					         <option>Divorced</option>
					         <option>Widowed</option>
				      	</select>
				</div>      	
		    </div>
		     <!-- thirdpanel -->
		    <div class="row item addPersonaSlide3Active">
		    	<div class="row col-sm-8 col-sm-offset-2 optionalFields">
		    		<h4>Your Interests
		    			<a href="#myCarousel" data-slide="next" class="carouselSkip">Skip
							<i class="fa fa-arrow-right"></i>
		    			</a>
		    		</h4>	
		    		<hr>
		    	</div>
		    	<div class="row col-sm-10 col-sm-offset-2 interestsChecklist">
		    		<h4>Hobbies</h4>
		    		<h6>Check all that apply</h6>
					<div class="col-sm-10 checklist">
						 <div class="col-sm-3 checklistColumns">
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Hockey
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Movies
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Cooking
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox1" value = "option1"> Running
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Reading
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Swimming
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Clubbing
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Surfing
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Baseball
						   </label>
					   </div>
					    <div class="col-sm-3 checklistColumns">
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Hockey
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Movies
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Cooking
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox1" value = "option1"> Running
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Reading
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Swimming
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Clubbing
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Surfing
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Baseball
						   </label>
					   </div>
					   <div class="col-sm-3 checklistColumns">
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Hockey
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Movies
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Cooking
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox1" value = "option1"> Running
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Reading
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Swimming
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Clubbing
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Surfing
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Baseball
						   </label>
					   </div>
					   <div class="col-sm-3 checklistColumns">
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Hockey
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Movies
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Cooking
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox1" value = "option1"> Running
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Reading
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Swimming
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Clubbing
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Surfing
						   </label>
						   <label class = "checkbox-inline">
						      <input type = "checkbox" id = "inlineCheckbox2" value = "option2"> Baseball
						   </label>
					   </div>
		    		</div>
		    	</div>
		    </div>	
		     <!-- fourthpanel -->
		    <div class="row item active addPersonaSlide4Active">
		    	<div class="row col-sm-8 col-sm-offset-2 optionalFields">
		    		<h4>Join a Community
		    			<a href="/userDashboard" class="carouselSkip">Skip
							<i class="fa fa-arrow-right"></i>
		    			</a>
		    		</h4>	
		    		<hr>
		    	</div>
		    	<div class="row col-sm-8 col-sm-offset-2 optionalCommunityList">
		    		<a href="#">
			    		<div class="col-sm-6 communitySquareSelectA">
			    			<input type = "checkbox" id = "inlineCheckbox1" value = "option1"> For the Love of Cooking
			    		</div>
			    	</a>
			    	<a href="#">	
			    		<div class="col-sm-3 communitySquareSelectB">
			    			<input type = "checkbox" id = "inlineCheckbox1" value = "option2"> Golfers Here
			    		</div>
			    	</a>
			    	<a href="#">	
			    		<div class="col-sm-3 communitySquareSelectC">
			    			<input type = "checkbox" id = "inlineCheckbox1" value = "option3"> Hike with Us!
			    		</div>
			    	</a>
			    </div>	
			    <div class="row col-sm-8 col-sm-offset-2 optionalCommunityList">	
			    	<a href="#">
			    		<div class="col-sm-6 communitySquareSelectD">
			    			<input type = "checkbox" id = "inlineCheckbox1" value = "option4"> PHP Developers 
			    		</div>
			    	</a>
			    	<a href="#">	
			    		<div class="col-sm-3 communitySquareSelectE">
			    			<input type = "checkbox" id = "inlineCheckbox1" value = "option5"> Designer Community 
			    		</div>
			    	</a>
			    	<a href="#">	
			    		<div class="col-sm-3 communitySquareSelectF">
			    			<input type = "checkbox" id = "inlineCheckbox1" value = "option6"> Justin Bieber Fans
			    		</div>
			    	</a>
			    </div>		
		    </div>	
		</div>
	</div>
	<div class="col-sm-12 addPersonaSliderControls">
		<div class="col-sm-1 col-sm-offset-8 addPersonaBack">
			<button class="left btn btn-default" href="#myCarousel" data-slide="prev">Back</button>
		</div>
		<div class="col-sm-1 addPersonaNext">
			<button class="right btn btn-success" href="#myCarousel" data-slide="next">Next</button>
		</div>
	</div>
</div><!-- end container -->
</html>