<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>NetID</title>
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <script type="text/javascript" src="/javascripts/libraries/jquery/jquery-2.1.4.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <script type="text/javascript" src="/javascripts/libraries/bootstrap-js/bootstrap.min.js"></script>
    <script src="/javascripts/libraries/ipfsapi.js"></script>
    <script src="/javascripts/libraries/web3.js"></script>
    <script type="text/javascript">
        var Web3 = require('web3');
        var web3 = new Web3();
    </script>
    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
    
    <link rel="stylesheet" href="/stylesheets/css/global.css"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">    <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/ratings.css"> -->
    <!-- <link rel="stylesheet" href="/stylesheets/footer.css"></link> -->
    <script src="/javascripts/libraries/react-0.14.0/build/react-with-addons.js"></script>
    <script src="/javascripts/libraries/react-0.14.0/build/react-dom.js"></script>

</head>


<body style="background-color: #313131">
    <!-- START NAVBAR -->
    <div class="row header netidIndex">
        <div class="col-sm-3 logoContainer">
            <div class="col-sm-2 col-sm-offset-6 logoBox">
                <a href="#">
                    <div class="logo">
                        <img src="images/netIDLogo.png">
                    </div>
                </a>
            </div>
        </div>
        <div class="link_container col-sm-7">
            <div class="link_inner">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a style="" href="#">Support</a></li>
                    <li><a href="trusted_source_home">Trusted Source</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- START LOGIN FIELDS -->
    <div class="mainFirstContent">
        <div class="row">
            <div class="col-sm-6 infoContainer">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-3 headlineContainer">
                        <p class="h1Headline">This is Web 3.0</p>
                        <h2 class="h3Headline">Let's get you signed up today</h2>
                    </div>
                </div>
                <div class="col-sm-12 col-sm-offset-3 videoContainer">
                    <button class="col-sm-3 btn videoButton" type="button" value="video" data-toggle="modal" data-target="#videoModal">
                        <span class="sr-only">Error:</span> Learn How
                        <span aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="col-md-6 loginContainer">
                <div class="row">
                    <div class="col-md-5 col-md-offset-3 innerLoginContainer">                        
                        <div id="loginApp"> 
                        </div>
                        <div id="signUpApp">
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script src="javascripts/js/signUpApp.js"></script>                        
        <script src="javascripts/js/loginApp.js" message="test"></script> 


        <!--Variables set from nodejs.
            These variables can then be used in React.js components extracted by jquery 
        -->

        <input id="message" value="<%=message%>" type="hidden"/>
</body>

</html>
