<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>NetID</title>
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <script type="text/javascript" src="/javascripts/libraries/jquery/jquery-2.1.4.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <script type="text/javascript" src="/javascripts/libraries/bootstrap-js/bootstrap.min.js"></script>
    <script src="/javascripts/libraries/ipfsapi.js"></script>
    <script src="/javascripts/libraries/web3.js"></script>
    <script type="text/javascript">
        var Web3 = require('web3');
        var web3 = new Web3();
    </script>
    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
    
    <link rel="stylesheet" href="/stylesheets/css/global.css"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">    <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/ratings.css"> -->
    <!-- <link rel="stylesheet" href="/stylesheets/footer.css"></link> -->
    <script src="/javascripts/libraries/react-0.14.0/build/react-with-addons.js"></script>
    <script src="/javascripts/libraries/react-0.14.0/build/react-dom.js"></script>

</head>


<body style="background-color: #313131">
    <!-- START NAVBAR -->
    <div class="row header netidIndex">
        <div class="col-sm-3 logoContainer">
            <div class="col-sm-2 col-sm-offset-6 logoBox">
                <a href="#">
                    <div class="logo">
                        <img src="images/netIDLogo.png">
                    </div>
                </a>
            </div>
        </div>
        <div class="link_container col-sm-7">
            <div class="link_inner">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a style="" href="#">Support</a></li>
                    <li><a href="trusted_source_home">Trusted Source</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- START LOGIN FIELDS -->
    <div class="mainFirstContent">
        <div class="row">
            <div class="col-sm-6 infoContainer">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-3 headlineContainer">
                        <p class="h1Headline">This is Web 3.0</p>
                        <h2 class="h3Headline">Let's get you signed up today</h2>
                    </div>
                </div>
                <div class="col-sm-12 col-sm-offset-3 videoContainer">
                    <button class="col-sm-3 btn videoButton" type="button" value="video" data-toggle="modal" data-target="#videoModal">
                        <span class="sr-only">Error:</span> Learn How
                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="col-md-6 loginContainer">
                <div class="row">
                    <div class="col-md-5 col-md-offset-3 innerLoginContainer">
                        <form action="/userDashboard" method="post">
                            <input class="form-control loginInputs" id='login_username' type="text" name="username" placeholder="Username">
                            <input class="form-control loginInputs" id='login_passcode' type="text" name="passcode" placeholder="Passcode">
                            <input class="form-control loginInputs" id='login_auth_app' type="text" name="authApp" placeholder="Authenticator App Code">
                            <button class="col-sm-12 btn loginButton">Log In</button>
                            <br>
                        </form>
                        <div id="signUpApp">
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <aside class="col-md-12">
        <div class="col-md-12 asideHeadlineContainer">
            <h1 class="asideH1Headline">The New Way to Internet</h1>
        </div>
        <div class="col-md-12 asideDescriptionContainer">
            <p class="asideParagraph">
                In this new online world, you can create a distinct difference and speration between your professional and personal life.
                <br> Some things just don't blend. Joint today and become a better and safer online 'You'.
            </p>
            <br>
            <br>
        </div>
        <div class="col-md-8 col-md-offset-2 iconTitle">
            <div class="row">
                <div class="col-md-3 asideHandscans">
                    <div class="handScansIcon iconCircle"></div>
                    <h5>Hand Scans</h5>
                    <p class="iconDescription">The biometric scanner identifies you</p>
                </div>
                <div class="col-md-3 asideRatingSystem">
                    <div class="dwebIcon iconCircle"></div>
                    <h5>Rating System</h5>
                    <p class="iconDescription">Rate transactions and communication to create peer-to-peer accountability</p>
                </div>
                <div class="col-md-3 asideDWeb">
                    <div class="ratingsIcon iconCircle"></div>
                    <h5>Decentralized Web</h5>
                    <p class="iconDescription">No single, centralized authority</p>
                </div>
                <div class="col-md-3 asideAnonimity">
                    <div class="anonymityIcon iconCircle"></div>
                    <h5>Online Anonymity</h5>
                    <p class="iconDescription">Your privacy is always protected, only you can choose to reveal who you are</p>
                </div>
            </div>
        </div>
    </aside>
    <article class="col-md-12 stepsToJoin">
        <div class="col-md-12 articleHeadlineContainer">
            <h1 class="articleH1Headline">Join Now</h1>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 articleStepContainer1">
                <div class="row">
                    <div class="stepContainer col-md-6">
                        <div class="row">
                            <div class="stepNumberContainer col-md-1">
                                <h1 class="stepNumber">1</h1>
                            </div>
                            <div class="stepDescription col-md-11">
                                <h5 class="orangeTitle">Create Username and Passcode</h5>
                                <p class="stepsExplanation">You are the only person who will know these login credentials. NetID does not own or hold this information. Keep your login safe.</p>
                            </div>
                        </div>
                    </div>
                    <div class="stepContainer col-md-6">
                        <div class="row">
                            <div class="stepNumberContainer col-md-1">
                                <h1 class="stepNumber">2</h1>
                            </div>
                            <div class="stepDescription col-md-11">
                                <h5 class="greenTitle">Find Trusted Source</h5>
                                <p class="stepsExplanation">Search for the most convenient Trusted Source to complete your biometric scan.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2 articleStepContainer2">
                <div class="row">
                    <div class="stepContainer col-md-6">
                        <div class="row">
                            <div class="stepNumberContainer col-md-1">
                                <h1 class="stepNumber">3</h1>
                            </div>
                            <div class="stepDescription col-md-11">
                                <h5 class="greenTitle">Hand-Scan Process</h5>
                                <p class="stepsExplanation">Hand scanning verifies your true identity. This process will ensure your security and allow you to set up your online personas.</p>
                            </div>
                        </div>
                    </div>
                    <div class="stepContainer col-md-6">
                        <div class="row">
                            <div class="stepNumberContainer col-md-1">
                                <h1 class="stepNumber">4</h1>
                            </div>
                            <div class="stepDescription col-md-11">
                                <h5 class="orangeTitle">Login</h5>
                                <p class="stepsExplanation">Begin connecting within the new internet. Safe, secure, and anonymous. Create personas to fit all areas of your life.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="col-md-12 lookUpContainer ">
        <div class="col-md-4 col-md-offset-4 findHeadlineContainer">
            <h1 class="findHeadline">Find the Nearest Trusted Source</h1>
            <div class="col-md-6 col-md-offset-3">
                <input class="form-control zip-code tsSearchBox" maxlength="5" type="text" name="zipCode" placeholder="Enter Zip Code">
                <br>
            </div>
        </div>
    </article>
    <div class="col-md-12 mapContainer" id="googleMap"></div>
    <article class="col-md-12 signUp2" style="background-color:#f6f6f6">
        <div class="col-md-6 col-md-offset-2 signUpAgain">Sign Up Today!
            <p class="asideParagraph">It's free to use and no credit card information is required. </p>
        </div>
        <div class="col-md-4 signUpBox">
            <button class="btn signupButton" type="button" value="signup" data-toggle="modal" data-target="#signUpModal">Sign Up</button>
        </div>
    </article>
    <article class="col-md-12 signUp2">
        <div class="col-md-6 col-md-offset-2 signUpAgain">Interested in Becoming a Trusted Source?
            <p class="asideParagraph">Become an integral part of the NetID community. </p>
        </div>
        <div class="col-md-4 signUpBox">
            <button class="btn signupButton" type="button"><a href='trusted_source_home'>Learn More</a></button>
        </div>
    </article> -->
 

        <!--<script src="/javascripts/main2.js"></script>-->
        <!-- // <script src="js/npm.js"></script> -->
        <script src="javascripts/js/signUpApp.js"></script>                        

</body>

</html>
