<!DOCTYPE HTML>
<html>
<div class="row" id="commContainer">
	<div class="col-sm-6 commControlBarLeft">
		<div class=" col-sm-12 commProfileInfo">
			<div class="col-sm-2 commImage">
				<img src="images/carrottop.jpg" alt="community image">
			</div>
			<div class="col-sm-5 commName">For the Love of Cooking</div>
			<div class="col-sm-3 commStatus">
				<div class="btn btn-success">Request</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 commControlBarRight">
		<div class="col-sm-12">
			<div class="col-sm-7 col-sm-offset-2 commNavItems">
				<ul>
					<li class="pull-left"><a href="#">Calendar</a></li>
					<li class="pull-right"><a href="#">Members</a></li>
				</ul>
			</div>
			<div class="col-sm-3 commIconElements">
				<i class="fa fa-star"></i>
				<i class="fa fa-search"></i>
			</div>
		</div>
	</div>
</div><!-- end Row -->

<div class="row">
	<div class="col-sm-12 commTextField">
		<div class="col-sm-12 commPostField">
			<form action="">
				<textarea placeholder="Post to all of your Communities" rows="6"></textarea>
			</form>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 commPostBtn">
		<div class="col-sm-12 btn">Post</div>
	</div>
</div>	

</html>
