<!DOCTYPE HTML>
<html>
<div class="row" id="commContainer">
	<div class="col-sm-6 commControlBarLeft">
		<div class=" col-sm-12 commProfileInfo">
			<div class="col-sm-2 commImage">
				<img src="images/cooking.jpg" alt="community image">
			</div>
			<div class="col-sm-6 commName"><a href="#">For the Love of Cooking</a></div>
			<div class="col-sm-3 commStatus">
				<div class="btn btn-success">Request</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 commControlBarRight">
		<div class="col-sm-12">
			<div class="col-sm-7 col-sm-offset-2 commNavItems">
				<ul>
					<li class="pull-left"><a href="#">Calendar</a></li>
					<li class="pull-right"><a href="#">Members</a></li>
				</ul>
			</div>
			<div class="col-sm-3 commIconElements">
				<a href="#"><i class="fa fa-star"></i></a>
				<i class="fa fa-search"></i>
			</div>
		</div>
	</div>
</div><!-- end Row -->

<div class="row">
	<div class="col-sm-12 commTextField">
		<div class="col-sm-12 commPostField">
			<form action="">
				<textarea placeholder="Post to all of your Communities" rows="6"></textarea>
			</form>
		</div>
		<div class="col-sm-12 commPostBtn">
			<div class="col-sm-12 btn">Post</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 commFirstPost">
		<div class=" col-sm-12 commFirstName">
			<div class="col-sm-2 commProfileImage">
				<a href="#"><img src="images/man2.jpg" alt="persona image"></a>
			</div>
			<div class="col-sm-9 commPersonaPost">
				<a href="#">Persona1234</a> <span>posted</span> Bangkok coconut curry bowls. I have to try making this for dinner tonight....
				<br>
				<a href="http://pinchofyum.com/bangkok-coconut-curry-noodle-bowls" target="blank">http://pinchofyum.com/bangkok-coconut-curry-noodle-bowls</a>
			</div>
			<div class="col-sm-1 col-sm-offset-1 commPostDate">
				2 min ago
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 commPostControls">
			<a href="#"><i class=" col-sm-1 col-sm-offset-1 fa fa-star"></i></a>
			<div class="verticalLine" style="height:35px;"></div>
			<div class="col-sm-2 commCommentBtn">
				<div class="btn commentBtn">Comment</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 commFirstPost">
		<div class=" col-sm-12 commFirstName">
			<div class="col-sm-2 commProfileImage">
				<a href="#"><img src="images/arnold.jpg" alt="persona image"></a>
			</div>
			<div class="col-sm-9 commPersonaPost">
				<a href="#">Persona1987</a> <span>posted</span> Breakfast for pizza? I think yes!
				<br>
				<a href="http://pinchofyum.com/breakfast-pizza-with-kale-pesto-and-sun-dried-tomatoes" target="blank">http://pinchofyum.com/breakfast-pizza-with-kale-pesto-and-sun-dried-tomatoes</a>
			</div>
			<div class="col-sm-1 col-sm-offset-1 commPostDate">
				6 days ago
			</div>
		</div>
	</div>
	<div class="row col-sm-12">
		<div class="commPostImage">
			<a href="http://pinchofyum.com/breakfast-pizza-with-kale-pesto-and-sun-dried-tomatoes" class="col-sm-12" target="blank">
				<img class="col-sm-12" src="images/breakfast-pizza.jpg" alt="image of post" target="blank">
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 commPostControls">
			<a href="#"><i class=" col-sm-1 fa fa-star"></i></a>
			<div class="verticalLine" style="height:35px;"></div>
			<div class="col-sm-11 commCommentBtnOpen">
				<div class="col-sm-12 panel panel-default commAccordion">
	                <div class="col-sm-12 panel-heading commAccordionHeading">
	                    <h4 class="col-sm-12 panel-title">
	                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">1 Comment</a>
	                    </h4>
	                </div>
	                <div id="collapseFour" class="panel-collapse collapse in commAccordionBody">
	                    <div class="panel-body commentBodyOpen">
							<div class="col-sm-12 commentContainer">
								<div class="col-sm-2 commentImage">
									<a href="#"><img src="images/man2.jpg" alt="comment image"></a>
								</div>
							<div class="col-sm-10 commPersonaPost">
								<a href="#">Persona1234</a> <span>said</span> Wow, that pizza looks amazing. I know of a place in Manhattan that makes pizza just like that!
								<br>
								<div class="col-sm-12 commentControls">
									<a class="commentButtonOne" href="#">Reply</a>
									<a href="#">Report</a>
								</div>
							</div>
							<div class="commPostDate">5 days ago</div>
							</div>

						</div>
					</div>
	            </div>
			</div>
		</div>
	</div>
</div>


</html>
