<!DOCTYPE HTML>
<html>
<div class="row col-sm-6 interactionsContainer">
    <div class="row">
        <div class="button btn btn-alert">+Create</div>
    </div>
    <div class="row panel panel-default">
        <div class="panel-heading">Panel heading</div>
            <table class="table">
            	<thead>
			      	<tr>
				         <th>Name</th>
				         <th>City</th>
			      	</tr>
			   </thead>
			   <tbody>
			      	<tr>
				         <td>Tanmay</td>
				         <td>Bangalore</td>
			     	 </tr>
			     	 <tr>
				         <td>Sachin</td>
				         <td>Mumbai</td>
			      	</tr>
			    </tbody>
            </table>
    </div>
</div>
</html>
