<!DOCTYPE HTML>
<html>


<script type="text/javascript">
    $(document).ready(function () {
        $('#MySplitter').jqxSplitter({ width: 400, height: 400, panels: [{ size: 200 }, { size: 200}] });
    });
</script>
 <div id="MySplitter">
   <div> First content goes here </div>
   <div> Second content goes here </div>
 </div> 
</html>