<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>NetID</title>
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    
    <script type="text/javascript" src="/javascripts/libraries/jquery/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="/javascripts/libraries/bootstrap-js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="/stylesheets/css/old_css_files/head.css"> -->
    <!-- <link rel="stylesheet" href="/stylesheets/socialPersona.css"></link> -->
    <!-- <link rel="stylesheet" href="/stylesheets/dashboard.css"></link> -->
    <link rel="stylesheet" href="/stylesheets/css/global.css"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">    <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/ratings.css"> -->
    <!-- <link rel="stylesheet" href="/stylesheets/footer.css"></link> -->
    <script src="/javascripts/libraries/react-0.14.0/build/react-with-addons.js"></script>
    <script src="/javascripts/libraries/react-0.14.0/build/react-dom.js"></script>
    <script src="/javascripts/libraries/ipfsapi.js"></script>

     <script src="/javascripts/web3.js"></script>
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script> -->

    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
</head>
<body>
    <div class="container-fluid">
        <% include partials/template/head.ejs %>

        <div id="mainBody" class="col-sm-12 mainBody">
            
        </div>       
        <!-- footer here -->
        
    </div>
    <script src="javascripts/js/dashboardApp.js"></script>

    <!-- // <script type="text/javascript" src="javascripts/dashboard-ajax-calls-react.js"></script> -->
    <!--
    <script type="text/babel" src="javascripts/js/personaIndex.js"></script>
    <script type="text/babel" src="javascripts/js/rightAccordion.js"></script>
    -->

    <!-- <script type="text/babel" src="javascripts/js/individualCommView.js"></script> -->
</body>

</html>
