<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>NetID</title>
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    
    <script type="text/javascript" src="/javascripts/libraries/jquery/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/javascripts/libraries/jquery/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="/javascripts/libraries/bootstrap-js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="/stylesheets/css/old_css_files/head.css"> -->
    <!-- <link rel="stylesheet" href="/stylesheets/socialPersona.css"></link> -->
    <!-- <link rel="stylesheet" href="/stylesheets/dashboard.css"></link> -->
    <link rel="stylesheet" href="/stylesheets/css/global.css"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/ratings.css"> -->
    <!-- <link rel="stylesheet" href="/stylesheets/footer.css"></link> -->
    <script src="/javascripts/libraries/react-0.14.0/build/react-with-addons.js"></script>
    <script src="/javascripts/libraries/react-0.14.0/build/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
</head>
<body>
    <div class="container-fluid">
        <% include partials/template/head.ejs %>
        <div class="col-sm-12 mainBody">
            <div class="row dashboardContainer">
                <div class="col-sm-12 personaPicker">
                    <div class="row col-sm-6 personaPickerLeft">
                        <div class="col-sm-1 personaActiveImage">
                                <div class="personaImage">
                                    <img src='../images/avatar.png'/>
                                </div>
                        </div>
                        <div class="col-sm-1 moon">
                            
                        </div>
                    </div>
                    <div class="row col-sm-6 personaPickerRight">
                        <div class="personaNavOptions">
                            <ul>
                                <a href="#"><li style="margin-right:15px;"><i class="fa fa-users"></i><span>C</span>ommunities</li></a>
                                <a href="#"><li><i class="fa fa-envelope-o"></i><span>M</span>essages</li></a>
                            </ul>
                        </div>    
                    </div>
                </div>
                <div class="row mainUserDashboardArea">
                    <div class="col-sm-3" id="personaIndex">
    <!--                     <div class="col-sm-12 addPersona">
                            Add New Persona
                        </div>
                        <div class="col-sm-12 panel-group" id="accordion">
                            <div class="col-sm-12 panel panel-default personaCntnr">
                                <div class="col-sm-12 panel-heading personaHeading">
                                    
                                    <div class="col-sm-3 imgCntnr">
                                        <img src="/images/man1.jpg">
                                    </div> 
                                    <h4 class="col-sm-9 panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">CorporateUnderling105</a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in personaInfo">
                                    <div class="panel-body">
                                       <div class="col-sm-4 col-sm-offset-5 ctrlPanel">
                                           <span>Communities <span></span></span>
                                           <span>Transactions <span></span></span>
                                           <span>Messages <span></span></span>
                                           <span>Friends <span></span></span>
                                       </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 panel panel-default personaCntnr">
                                <div class="col-sm-12 panel-heading personaHeading">
                                    <div class="col-sm-3 imgCntnr">
                                        <img src="/images/man2.jpg">
                                    </div> 
                                    <h4 class="col-sm-9 panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">RedSnapper085</a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse personaInfo">
                                    <div class="panel-body">
                                        <p>HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages. <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 panel panel-default personaCntnr">
                                <div class="col-sm-12 panel-heading personaHeading">
                                    <div class="col-sm-3 imgCntnr">
                                        <img src="/images/jenn.jpeg">
                                    </div> 
                                    <h4 class="col-sm-9 panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">JenLookinCool</a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse personaInfo">
                                    <div class="panel-body">
                                        <p>HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages. <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-sm-6 mainView row">
                        <div class="col-sm-12 focusedPersona">
                            <p>Your Bio - Complete your Bio!</p>
                        </div>
                        <div class="col-sm-12 netIdSpace"></div>
                        <div class="col-sm-12" id="viewPort">
                             <% include splitBarDash.ejs %>
                        </div>
                    </div>
                    <div class="col-sm-3" id="rightControlPanel">
      <!--              <div class="col-sm-12 ratingsPanel">
                            My Ratings 
                            <a class="col-sm-offset-6 masterScore" href="#">78</a> 
                            <a href="#" class="socialScore">45</a> 
                            <a href="#" class="professionalScore">81</a>
                        </div> -->
                        <!-- start accordion -->
                       <!--  <div class="accordion2" id="accordion2">
                            <div class="col-sm-12 accordion-group yourOffers accordionRightPanel">
                              <div class="accordion-heading offersHeading accordionHeading">
                                <h4 class="col-sm-12 panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4">
                                      My Offers
                                    </a>
                                </h4>    
                              </div>
                              <div id="collapse4" class="accordion-body in collapse offersPanel" style="height: auto; ">
                                <div class="accordion-inner">
                                    <div class="panel-body offersBody">
                                        <p>Bed, Bath & Beyond <a href="#" class="offersLink">Take this quick survey</a></p>
                                        <p>Apple Store <a href="#" class="offersLink">Take survey. Win stuff.</a></p>
                                        <p>Smart & Final Extra! <a href="#" class="offersLink">Read this to get your prize</a></p>
                                        <p>Bed, Bath & Beyond <a href="#" class="offersLink">Take this quick survey</a></p>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-12 accordion-group yourFriends accordionRightPanel">
                              <div class="accordion-heading friendsHeading accordionHeading">
                                <h4 class="col-sm-12 panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse5">
                                      Friends Online
                                    </a>
                                </h4>    
                              </div>
                              <div id="collapse5" class="accordion-body collapse friendsPanel" style="height: 0px; ">
                                <div class="accordion-inner">
                                 <div class="panel-body friendsBody">
                                        <p>Persona1234 <a href="#"><i class="fa fa-envelope-o"></i></a></p>
                                        <p>JimmyPersona123 <a href="#"><i class="fa fa-envelope-o"></i></a></p>
                                        <p>CookingPersona1099<a href="#"><i class="fa fa-envelope-o"></i></a></p>
                                        <p>CheaterHello2000 <a href="#"><i class="fa fa-envelope-o"></i></a></p>
                                        <p>helloIamFun777 <a href="#"><i class="fa fa-envelope-o"></i></a></p>
                                        <p>messagemenow411 <a href="#"><i class="fa fa-envelope-o"></i></a></p>
                                        <p>PersonaAwesome!76 <a href="#"><i class="fa fa-envelope-o"></i></a></p>

                                    </div>
                                </div>
                              </div>
                            </div> -->
                        <!-- </div>end accordion -->
                    </div>
                </div>
            </div>
        </div>       
        <% include partials/template/footer.ejs %>
    </div>
    <!-- // <script type="text/javascript" src="javascripts/dashboard-ajax-calls-react.js"></script> -->
    <script type="text/babel" src="javascripts/js/personaIndex.js"></script>
    <script type="text/babel" src="javascripts/js/rightAccordion.js"></script>
    
    <!-- <script type="text/babel" src="javascripts/js/individualCommView.js"></script> -->
</body>

</html>
