#addPersonaContainer{
	border: 1px solid #BBBDC0;
	height: 780px;
	margin-bottom: 30px;
	padding: 30px;
	.addPersonaCarousel{
		padding-top: 5%;
		height: 85%;
		.addPersonaInner{
			.addPersonaSlide1Active{
				.addPersonaImage{
					padding: 0;
					.addImageBtn{
						padding: 0;
						img{
							margin-bottom: 15px;
						}
					}
					.addImageUpload{
						.addImageUploadBtn{
							input{}
							p{
								text-align: center;
							}
						}
					}
				}
				.addPersonaInputFields{
					margin-top: 20px;
					.addPersonaDropdown{
						padding: 0px;
						margin-bottom: 15px;
						select{
							border-radius: 0;
							height: 45px;
							option{
								background-color: white;
								color: black;
							}
						}
					}
					input{
						margin-bottom: 15px;
						height: 45px;
						border-radius: 0;
					}
					textarea{
						border-radius: 0;
					}
				}
			}
			.addPersonaSlide2Active{
				.requiredField1{
					h4{
						margin-bottom: 25px;
					}
					hr{}
				}
				.requiredField2{
					.form-group{
						label{}
						input{
							height: 40px;
							border-radius: 0;
						}
					}
				}
				.requiredField3{
					label{}
					select{
						border-radius: 0;
						height: 45px;
						margin-bottom: 20px;
						option{
						}
					}
				}
				.requiredField4{
					label{}
					select{
						border-radius: 0;
						height: 45px;
						margin-bottom: 20px;
						option{}
					}
				}

			}
			.addPersonaSlide3Active{
				.optionalFields{
					h4{
						.carouselSkip{
							font-size: 12px;
							margin-left: 15px;
							i{}
						}
					}
					hr{}
				}
				.interestsChecklist{
					h4{}
					h6{}
					.checklist{
						margin-top: 20px;
						.checklistColumns{
							padding: 0;
							label{
								margin-bottom: 20px;
								input{
									width: 15px;
									height: 15px;
								}
							}
						}	
					}
				}
			}
			.addPersonaSlide4Active{
				.optionalFields{
					h4{
						.carouselSkip{
							font-size: 12px;
							margin-left: 10px;
							i{}
						}
					}
				}
				.optionalCommunityList{
					a{
						.communitySquareSelectA{
							border: solid 1px #BBBDC0;
							height: 250px;
							width: 250px;
							margin-right: 10px;
							margin-left: 30px;
							input{
							}
						}
					}
					a{
						.communitySquareSelectB{
							border: solid 1px #BBBDC0;
							height: 120px;
							width: 250px;
							input{

							}
						}
					}
					.communitySquareSelectC{
						border: solid 1px #BBBDC0;
						height: 120px;
						width: 250px;
						margin-top: 10px;
					}
					.communitySquareSelectD{
						border: solid 1px #BBBDC0;
						height: 250px;
						width: 250px;
						margin-left: 30px;
						margin-right: 10px;
						margin-top: 10px;
					}
					.communitySquareSelectE{
						border: solid 1px #BBBDC0;
						height: 120px;
						width: 250px;
						margin-top: 10px;
					}
					.communitySquareSelectF{
						border: solid 1px #BBBDC0;
						height: 120px;
						width: 250px;
						margin-top: 10px;
					}
				}
			}
		}
	}
	.addPersonaSliderControls{
		margin-top: 40px;
		.addPersonaBack{
			button{
				height: 40px;
				border-radius: 0;
			}
		}
		.addPersonaNext{
			button{
				height: 40px;
				border-radius: 0;
			}
		}
	}
}
