.bodyContent{
	padding-top: 10px;
	.commDetailTitle{
		border-bottom: 4px solid #AC0808;
		h4{
			text-transform: uppercase;
			color: lightgray;	
			a{
				color: #A4A5A5;
				i{
					margin-right: 10px;
					color: lightgray;	
				}
			}
		}
	}
	.commDetailBody{
		margin-top: 30px;
		img{
			height: 10em;
			margin-left: 28%;
			object-fit: cover;
		}
		.commDetailText{
			text-align: center;
			h3{
				
			}
			p{

			}
			h6{
				color: #6A6E70;
				img{
					width: 20px;
					height: 20px;
					margin-right: 6px;
					object-fit: cover;
					a{
						text-decoration: none;
						color: gray;
					}			
				}
			}
		}	
	}	
}