.globalSettings{
	margin-top: 40px;
	p{
		margin-bottom: 25px;
	}
	.well{
		background-color: transparent;
		border: 1px solid gray;
		padding-top: 30px;
		padding-bottom: 70px;
		form{
			.form-group{
				margin-bottom: 0px;
				label{
					margin-bottom: 30px;
					margin-right: 10px;
					font-weight: normal;
				}
				textarea{
					float: right;
					width: 85%;
					resize: none;
				}
			}
		}
		button{
			width: 30%;
			margin-left: 15%;
			margin-top: 0px;
			background-color: #169379;
			color: white;
			border: none;
			border-radius: 0px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
	.ethSettingsTitle{

	}
	.ethWell{
		padding-bottom: 40px;
		text-align: center;
		.dropdown{
			button{
				background-color: transparent;	
				border: 2px solid #1E1E1E;
				color: lightgray;
				padding-top: 12px;
				padding-bottom: 12px;
				margin-left: 0%;
				width: 65%;
				span{
					margin-left: 8px;
				}
			}
			.dropdown-menu{
				padding-left: 15px;
				padding-right: 15px;
				border-radius: 0px;
				width: 65%;
				margin-left: 63px;
				table{
					margin-bottom: 0px;
					thead{
						tr{
							th{
								color: black;
								vertical-align: middle; 
							}
						}
					}
					tbody{
						tr{
							height: 50px;
							td{
								color: black;
								vertical-align: middle;
							}
						}
					}
				}
			}
		}
		.ethUpdateBtn{
			margin-top: 45px;
			margin-left: 0px;
			width: 65%;
		}
	}
}