.header{
	background-color: #313131;
	position: relative;
	padding: 0;
	.logoContainer{
		float: right;
		.logoBox{
			padding: 0;
			a{
				.logo{
					img{
						width: 30%;
						margin-top: 3%;
						margin-bottom: 3%;
						margin-right: 6%;
						float: right;
					}
				}
			}
		}
	}
}













// phone size
@media (max-width: 768px){
  	.logo img{
	margin-top: 10%;
	width: 70% !important;
	}
	.navbar-toggle{
	margin-right: 0px;
	float: left !important;
	padding: 9px 55px;
	}
	.collapse.in{
	margin-left: 5%;
	}
	ul li, li a{
	width: 100%;
	}
	.mobile-nav>li{
	border-bottom: 1px;
	}
	.glyphicon-menu-hamburger{
	font-size: 20px;
	color: gray;
	}
}

/*TABLET SIZE*/
@media (min-width: 769px) and (max-width:991px){
	.logo img{
	margin-top: 3%;
	margin-bottom: 3%;
	width: 25% !important;
	}
	.navbar-toggle{
	float: right !important;
	}
}


