.header{
	background-color: #313131;
	position: relative;
	padding: 0;
	.logoContainer{
		float: right;
		.logoRatingButton{
			float: right;
			padding: 0;
			button{
				img{	
				}
			}
			.dropdown-menu{
				background-color: #313131 !important;
				li{
					a{
						strong{
							color: red;
						}
					}
				}
			}
		}
	}
}







