.header{
	background-color: #313131;
	position: relative;
	padding: 0;
	.logoContainer{
		float: right;
		.logoRatingButton{
			float: right;
			padding: 0;
			button{
				img{	
				}
			}
			.dropdown-menu{
				background-color: #313131 !important;
				li{
					a{
						color: #696969;
						&:hover{
							background-color: lightgray;
						}
						strong{
							color: #169379;
							font-size: 18px;
							margin-left: 8px;
						}
					}
				}
			}
		}
	}
}







