.homeContent {
    padding-bottom: 100px;
    .homeTitle {
        border-bottom: 3px solid #1E1E1E;
        h4 {
            color: lightgray;
            margin-bottom: 9px;
            i {
                color: #169379;
                margin-right: 10px;
                font-size: 20px;
            }
        }
    }
    .homeDetailFeed {
        .homeDetailPostBody {
            margin-top: 20px;
            margin-bottom: 30px;
            .well {
                margin-top: 20px;
                margin-bottom: 50px;
                background-color: #1E1E1E;
                border: none;
                border-radius: 0px;
                form {
                    margin-top: 5px;
                    textarea {
                        width: 100%;
                        height: 100px;
                        color: black;
                        border-radius: 0px;
                        resize: none;
                    }
                }
                .postButton {
                    margin-top: 10px;
                    border-radius: 0px;
                    background-color: #169379;
                    border: none;
                    padding: 10px;
                    margin-left: 82%;
                }
            }
            .media-left {
                a {
                    img {
                        width: 70px;
                        height: 70px;
                        object-fit: cover;
                    }
                }
            }
            .media-body {
                h4 {
                    color: white;
                    .communityNamePost {
                        font-size: 12px;
                        color: gray;
                        margin-left: 7px;
                    }
                    .postTimeStamp {
                        color: gray;
                        font-size: 12px;
                        float: right;
                    }
                }
                .postContentText {
                    color: lightgray;
                }
                .homeUserTools{
                    margin-top: 10px;
                    .postClosedCommentView {
                        height: 30px;
                        margin-top: 5px;
                        color: lightgray;
                        padding: 8px;
                        background-color: #169379;
                        margin-right: 5px;
                        border-radius: 4px;
                        i {
                            margin-right: 5px;
                        }
                    }
                    .likePost{
                        margin-right: 5px;
                        color: lightgray;
                        background-color: #006A56;
                        padding: 8px;
                        border-radius: 4px;
                        i{
                            margin-right: 5px;
                        }
                    }
                    .dislikePost{
                        margin-right: 5px;
                        color: lightgray;
                        background-color: #006A56;
                        padding: 8px;
                        border-radius: 4px;
                        i{
                            margin-right: 5px;
                        }
                    }
                }    
                .postTimeStamp {
                    color: gray;
                }
                .collapse {
                    margin-top: 5px;
                    textarea {
                        width: 100%;
                        height: 100px;
                        color: black;
                        border-radius: 0px;
                        resize: none;
                    }
                    button {
                        margin-top: 10px;
                        border-radius: 0px;
                        background-color: #169379;
                        border: none;
                        padding: 10px;
                    }
                }
            }
        }
        .homePostBody {
            margin-bottom: 10%;
            margin-right: 0px;
            padding-right: 0px;
            padding-left: 0px;
            .media-left {
                a {
                    img {
                        width: 70px;
                        height: 70px;
                        object-fit: cover;
                    }
                }
            }
            .media-body {
                h4{
                    color: white;
                    a {

                    }
                }
                .postContentText {
                    color: lightgray;
                }
                form {
                    margin-top: 5px;
                    input {
                        width: 100%;
                        height: 40px;
                        color: black;
                        padding-top: 25px;
                        padding-bottom: 85px;
                        border-radius: 0px;
                    }
                }
                button {
                    margin-top: 10px;
                    border-radius: 0px;
                    background-color: #169379;
                    border: none;
                    padding: 10px;
                }
                .commentContainer {
                    margin-top: 10px;
                    margin-top: 10
                }
            }
        }
        .removePostBtn {
        	.dropdown{
	            button {
	                background-color: #1E1E1E;
	                span {}
	            }
	            ul {
	                color: black;
					border-radius: 0px;
	                table {
	                	margin-bottom: 0px;
	                    tbody {
	                        tr {
	                           td{
	                           		border-top: none;
	                           }
	                        }
	                    }
	                }
	            }
	        }    
        }
    }
    .homePostsPicture {
        margin-bottom: 20px;
        .media-left {
            a {
                img {
                    width: 70px;
                    height: 70px;
                    object-fit: cover;
                }
            }
        }
        .media-body {
            h4 {
                color: white;
            }
            .postImageCaption {
                color: lightgray;
                padding-bottom: 20px;
            }
            .profilePostsElementVideo {
                margin-top: 10px;
            }
            img {
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .postTimeStamp {
                color: gray;
                padding-top: 10px;
            }
            button {
                margin-top: 10px;
                border-radius: 0px;
                background-color: #169379;
                border: none;
                padding: 10px;
            }
        }
    }
}
