.netidIndex{
	margin-top: 3%;
	.logoContainer{
		.logoBox{
			padding: 0 !important;
			a{
				.logo{
					img{
						width: 200px;
					}
				}
			}
		}
	}	
	.link_container{
		.link_inner{
			ul{
				list-style-type: none;
				 padding-top: 25px; 
				 float: right;
				li{
					float: left;
					height: 100%;
				  	display: inline;
				  	margin-right: 25px;
					a{
						color: lightgray; 
						font-weight: bold;
						transition: color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
					}
				}
			}
		}
	}
}
.mainFirstContent{
	margin-top: 12%;
	.row{
		.infoContainer{
			.row{
				.headlineContainer{
					p{
						color:lightgray; 
						text-transform: uppercase; 
						font-weight: bold; 
						font-size: 60px;
					}	
					h2{
						color:gray; 
						margin-top: 0px; 
						margin-bottom: 40px;
					}
				}	
			}
			.videoContainer{
				margin-top:2em;
				button{
					height: 45px; 
					background-color: #169379; 
					color: white; 
					font-weight: bold;
					transition: color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
					}
					span{
						&:visited{
							color: white !important;
						}
					}
				}
				.modal{
					.modal-dialog{
						.modal-content{
							.modal-header{
								h4{

								}
							}
							.modal-body{

							}
						}
					}
				}
			}
		}	
		.loginContainer{
			.row{
				.innerLoginContainer{
					form{
						padding-bottom: 10px;
						.loginInputs{
							height: 45px; 
							margin-bottom: 5px;
						}
						.loginButton{
							height: 45px; 
							margin-bottom: 5px; 
							background-color: #778899; 
							color: white; 
							font-weight: bold; 
							border: 2px solid white;
						}
						.signUpButton{
							height: 45px; 
							margin-bottom: 5px; 
							background-color: #169379; 
							color: white; 
							font-weight: bold;
						}
					}
					.popUpModal{
						color:#77787a;
						.modal-dialog{
							.modal-content{
								.modal-header{
									h4{
										#myModalLabel{
											padding-top: 10px;
											margin-bottom: 12px;
										}
									}
									p{

									}
								}
								.signUpBox2{
									#signUpContent{
										form{
											.signUpInputs{
													margin:.5em auto;
													font-weight:500;
												.input-group-addon{
													border-radius: 10px 0px 0px 10px !important;
												}
												.glyphicon{
													top: 0px !important;
												}
												input{
													
												}
											}
											button{

											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
/* __________END LOGIN FIELDS__________ */

