.bodyContent{
    .interactionsContainer{
        .row{
            h3{

            }
            button{
                margin-bottom: 15px;
                border-radius: 0px;
            }
        }
        .panel{
            border-radius: 0px;
            padding: 5px;
            table{
                thead{
                    tr{
                        th{

                        }
                    }
                }
                tbody{
                    tr{
                        .btn{
                            border-radius: 0px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}