.settingsCntnr{
	padding-bottom: 100px;
	.settingsTitle{
		border-bottom: 3px solid #1E1E1E;
		h4{
			margin-bottom: 9px;
			color: lightgray;
			i{
				color: #169379;
				margin-right: 10px;
				font-size: 20px;
			}
		}
	}
	.profileDetailBody{
		margin-top: 30px;
		.profileImage{
			object-fit: cover;
		}
		.profileDetailText{
			h3{
				padding-top: 5px;
				padding-left: 10px;
				padding-bottom: 0px;
				a{
					margin-right: 15px;
					button{
						margin-left: 15px;
						border-radius: 0px;
						background-color: #169379;
						border: none;
						color: white;
					}
					i{
						color: lightgray;	
						font-size: 16px;
						background-color: #169379;
						padding: 8px;
					}
				}
			}	
			.profileScoreList{
				list-style-type: none;
				font-size: 14px;
				margin-top: 10px;
				margin-bottom: 10px;
				padding-left: 0px;
				li{
					color: lightgray;
					line-height: 1.3em;
				}
			}	
			p{
				color: lightgray;
			}
		}	
	}
	.profileInputField{
		.profileInputWell{
			margin-top: 20px;
			background-color: #1E1E1E;
			border: none;
			border-radius: 0px;
			form{
				margin-top: 5px;
				input{
					width: 100%;
					height: 40px;
					color: black;
					padding-top: 25px;
					padding-bottom: 85px;
					border-radius: 0px;
				}
			}
			button{
				margin-top: 10px;
				border-radius: 0px;
				background-color: #169379;
				border: none;
				padding: 10px;
				margin-left: 83%;
			}
		}	
	}
	.profilePostsElementText{
		margin-bottom: 20px;
		margin-right: 0px;
		padding-right: 0px;
		.media-left{
			a{
				img{
					width: 70px;
    				height: 70px;
    				object-fit: cover;
				}
			}
		}
		.media-body{
			h4{
				color: white;
			}
			.postContentText{
				color: lightgray;
			}
			.postTimeStamp{
				color: gray;
			}
			h6{
				color: #6A6E70;
				img{
					width: 20px;
					height: 20px;
					margin-right: 6px;
					object-fit: cover;
				}
				a{

				}
				i{
					margin-left: 25px;
					margin-right: 6px;
					font-size: 16px;
					color: #A4A5A5;
				}
			}
		}
	}
	.removePostBtn{
		margin-top: 2%;
		margin-left: 3%;
		.dropdown{
			button{
				background-color: #1E1E1E;
				span{

				}
			}
			ul{
				color: black;
				table{
					margin-bottom: 0px;
					tbody{
						tr{
							td{

							}
						}
					}
				}
			}
		}
	}
	.profilePostsElementPicture{
		margin-bottom: 20px;
		margin-right: 0px;
		padding-right: 0px;
		.media-left{
			a{
				img{
					width: 70px;
    				height: 70px;
    				object-fit: cover;
				}
			}
		}
		.media-body{
			h4{
				color: white;
			}
			.postImageCaption{
				color: lightgray;
				padding-bottom: 20px;	
			}
			.profilePostsElementVideo{
				margin-top: 10px;
			}
			img{
				width: 100%;
				margin-top: 10px;
				margin-bottom: 10px;
			}
			.postTimeStamp{
				color: gray;
				padding-top: 10px;
			}
			h6{
				color: #6A6E70;
				img{
					width: 20px;
					height: 20px;
					margin-right: 6px;
					object-fit: cover;
				}
				a{

				}
				i{
					margin-left: 25px;
					margin-right: 6px;
					font-size: 16px;
					color: #A4A5A5;
				}
			}
		}
	}
	.seeMoreBtn{
		button{
			width: 100%;
			background-color: #169379;
			border-radius: 0px;
			height: 40px;
		}
	}	
}