.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
    .mainBody{
       background-color: #313131;
       padding: 0;
        .dashboardContainer {
            .personaPicker{
                padding: 0;
                height: 55px;
                background-color: #169379;
                .personaPickerRight{
                    padding: 0;
                    .personaNavOptions{
                        margin-left: 145px;
                        ul{
                           list-style-type: none;
                           padding-left: 0px;
                            li.active a{
                                background-color: #006A56;
                                color: white;
                            }
                            li{
                                font-size: 14px;
                                color: white;
                                display: inline;
                                margin-top: 7px;
                                .logOutLink{
                                    border-left: thin solid #A6A7A7;
                                }
                                a{
                                    color: lightgray;
                                    border-radius: 0px;
                                    i{
                                        font-size: 18px;
                                    }    
                                }
                            
                                input{
                                display: inline-block;
                                border-radius: 20px;
                                margin-left: 15px;
                                height: 28px;
                                margin-top: 5px;
                                }
                                a:hover{
                                    background-color: transparent;
                                    color: white;
                                } 
                                a:focus{
                                    background-color: #006A56;
                                }
                            }                 
                        }
                    }
                }
                .logoContainer{
                    border-top: 54px solid #313131;
                    border-left: 58px solid #169379;
                    float: right;
                    margin-right: 0px;
                    background-color: #313131;
                    .logoRatingButton{
                        margin-right: 75px;
                        .ratingDropdown{
                            z-index: 1000;
                            margin-top: -64px;
                            margin-left: 20px;
                            background-color: #313131;
                            border-radius: 0px;
                            img{
                                width: 130px;    
                            }
                        }
                        .dropdown-menu{
                            background-color: #313131 !important;
                            li{
                                a{
                                    color: #696969;
                                    &:hover{
                                        background-color: lightgray;
                                    }
                                    strong{
                                        color: #169379;
                                        font-size: 18px;
                                        margin-left: 8px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .mainUserDashboardArea{
                border-top: 6px solid #006A56;
                padding: 0;
                #personaIndex {
                    background-color: #1E1E1E;
                    padding-right: 0px;
                    max-height: 91vh;
                    border-right: 15px solid #636363;
                    border-bottom: 24px solid #636363;
                    display: inline;
                    div {
                        .notificationContainer {
                            float: right;
                            background-color: #636363;
                            height: 35px;
                            width: 13%;
                          a{
                            span{
                                margin-top: 9px;
                                margin-left: 5px;
                                background-color: #AC0808;
                                }
                            }
                        }         
                        .notificationContainer.selected {
                            background-color: #169379; 
                        }               
                        .multiPersonaCntnr {
                            padding-right: 0;
                            margin-bottom: 0px;
                            ul {
                                list-style-type: none;
                                padding-left: 30px;
                            }
                            #socialPersonaContainer{
                                border-top: 15px solid #636363;
                                height: 36vh;
                                float: left;
                                position: relative;
                                h4 {
                                    text-align: left;
                                    color: white;
                                }
                                ul{
                                    margin-top: -15px;
                                }
                            }
                            #professionalPersonaContainer {
                                border-top: 15px solid #636363;
                                height: 37vh;
                                float: left;
                                position: relative;
                                h4 {
                                    text-align: center;
                                    color: white;
                                }
                                 ul{
                                    margin-top: -15px;
                                }                                                          
                            }
                           .addPersona {
                                position: absolute;
                                bottom: 0;
                                left: 0px;                               
                                width: 100%;                                
                                h5 {
                                    a{
                                        color: lightgray;
                                        i{
                                            color: lightgray;
                                            margin-right: 7px;
                                        }
                                    }
                                }                               
                            }                            
                            .personaActiveImage{
                                padding-right: 0;
                                padding-left: 30px;
                                .personaImage{
                                    height: 175px;
                                    img{
                                        width: 100%;
                                        height: 79.5%;
                                        object-fit: cover;  
                                        border: 2px solid black;                                  }
                                }
                                .personaActiveName{
                                    background-color: #313131;
                                    padding: 0;
                                    h3{
                                        color: white;
                                        font-size: 14px; 
                                        margin-top: 10px;
                                        padding-left: 17px;
                                        margin-bottom: 10px;
                                    }
                                }
                            }
                            #personaBarFiller {
                                    min-height: 89vh;
                                    background-color: #636363;
                                    width: 30px;
                            }
                            .personaCntnr {
                                border-top: none;
                                border-bottom: none;
                                border-left: none;
                                border-right-width: 0px;
                                padding: 0;
                                height: 35px;
                                border-radius: 0;
                                clear: both;
                                margin-top: 3px;
                                margin-left: 3px;
                                background-color: #4F4E4E;
                                width: 97.5%;
                                .personaColor {
                                    background-color: grey;
                                    height: 100%;
                                }
                                .personaHeading {
                                    border-radius: 0px;
                                    background: none;                                    padding-left: 20px;
                                    width: 50%;
                                    padding-left: 0px;
                                    padding: 0;
                                    .imgCntnr {
                                        padding: 0;
                                        height: 47px;
                                        width: 50px;
                                        img {
                                            height: 75%;
                                            width: 100%;
                                            object-fit: cover;
                                        }
                                    }    
                                    h4{
                                        margin-top: -38px;
                                        margin-left: 52px;
                                        a {
                                            color: gray;
                                            font-size: 14px;
                                            &:hover{
                                                text-decoration: none;
                                            }
                                            &:focus{
                                                color: white;
                                                text-decoration: none;
                                            }
                                        }
                                    }
                                }
                                .personaInfo {
                                    border-left: 5px solid #C31F2E;
                                    .ctrlPanel {
                                        span {
                                            display: block;
                                            text-align: right;
                                        }
                                    }
                                }                                
                            }
                            .personaCntnr:nth-child(1) {
                                margin-top: 8px;
                            }   
                        }
                    }
                }
            }    
            .mainView {
                #viewPort {
                    background-color: #313131;
                    color: white;
                    overflow: auto;
                    max-height: 90vh;
                    min-height: 91vh;
                    .offersFixedButton{
                        position: fixed;
                        bottom: 0px;
                        right: 0px;
                        a{
                            button{
                                border-radius: 0px;
                                padding-left: 100px;
                                padding-right: 136px;
                                padding-top: 8px;
                                padding-bottom: 12px;
                                border: 10px solid gray;
                                background-color: #003027;
                                color: white;
                            }
                        }
                    }
                } 
            }
            #rightControlPanel {
                padding: 0;
                    #rightPanelAndMenuContainer {
                        display: block;
                    }
                    .ratingsPanel {
                        margin-bottom: 10px;
                        background-color: #58585B;
                        height: 50px;
                        padding-top: 5px;
                        padding-left: 25px;
                        color: #E6E7E8;
                        .masterScore {
                            color: #65A5D9;
                            font-size: 25px;
                            margin-right: 10px;
                        }
                        .socialScore {
                            color: #729E8D;
                            font-size: 20px;
                            margin-right: 10px;
                        }
                        .professionalScore {
                            color: #F37728;
                            font-size: 20px;
                        }
                    }
                    #rightPanelContentContainer {
                        width: 16.7vw;
                        float: left;
                        background-color: #1E1E1E;
                        padding-top: 0px;
                        min-height: 91vh;
                        border-bottom: 25px solid #636363;
                        border-left: 15px solid #636363;
                        #rightPanelTopDiv {
                            border-bottom: 15px solid #636363;
                            min-height: 46vh;
                        }
                        #rightPanelBottomDiv {
                            height:50%;
                        }
                        .contentPanel {
                            height: 310px;
                        }
                        .yourOffers {
                            .offersHeading {
                                color: #E6E7E8;
                                padding-top: 13px;
                                h4 {
                                    a {}
                                }
                            }
                            .offersPanel {
                                height: 0;
                                .offersBody {
                                    padding-top: 20px;
                                    padding-left: 30px;
                                    p {
                                        color: #6D6E70;
                                        a {}
                                    }
                                }
                            }
                        }
                        .yourFriends {
                            .friendsHeading {
                                color: #E6E7E8;
                                padding-top: 13px;
                                padding-left: 10px;
                                h4 {
                                    a {}
                                }
                            }
                            .friendsPanel {
                                height: 0;
                                .friendsBody {
                                    padding-top: 20px;
                                    padding-left: 30px;
                                    p {
                                        color: #6D6E70;
                                        a {
                                            i {
                                                float: right;
                                                margin-right: 20px;
                                            }
                                        }
                                    }
                                }
                            }
                        } 
                    }
                }
            }
            #accordion2 {
                padding: 0;
                border-radius: 0px;
                .rightMenu {
                    display: inline-block;
                    margin-right: -29px;
                    .rightMenuItem {
                        background-color: #636363;
                        display: block;
                        height: 146px;
                        width: 30px;
                        font-size: 6px;
                        margin-top: 0px;
                        a {
                            height: inherit;
                            padding: 0px;
                            &:link{
                                border-radius: 0px;
                                background-color: #636363;
                            }
                            &:visited{
                             background-color: #636363;
                            }
                            &:hover{
                                background-color: #006A56;
                                border-radius: 0px;
                            }
                            &:focus{
                                background-color: #169379;
                                border-radius: 0px;
                                outline: none;
                            }
                            &:active{
                                background-color: #169379;
                                border-radius: 0px;
                            }   
                        }
                        img {
                            width: 20px;
                            height: 25px;
                            margin-left: 4px;
                            margin-top: 10px;
                        }

                    }

                    .rightMenuFiller {
                        height: 16px;
                        background-color: #636363;
                        margin-top: 0px;                    }
                }
                .accordionRightPanel {
                    padding: 0;
                    border-radius: 0px;
                    .accordionHeading {
                        border-radius: 0px;
                    }

                }
            }
        }
    }    
