<div class="footer col-xs-12">
<!-- LEFT NAV -->
    <div class="col-sm-6 col-med-offset-2 footerNav hidden-xs">
        <a href="#">
            <div class="footerLogo col-sm-3 col-sm-offset-4">
                <img src='../images/NetID_gray.png' />
            </div>
        </a>
        <ul class="col-sm-6 col-sm-offset-4" style="padding-left:0px;">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Sitemap</a></li>
        </ul>
    </div>
    <!-- SOCIAL MEDIA BUTTONS-->
    <div class="col-sm-4 social hidden-xs">
 
         <!-- LEGAL INFO-->
        <div class="legalInfo col-sm-12" style="padding-right:0px">
            <ul>
                <li>NetID, 2015. All rights reserved.</li>
            </ul>
        </div>
    </div>



<div class="footer col-xs-12 visible-xs row">
    <div>
         <ul class="col-xs-12 footernav-xs">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Sitemap</a></li>
        </ul>
    </div>
    <div class="col-xs-12 social-xs">
        <ul class="footernav-xs">
            <li>
                <a href="https://www.facebook.com/pages/Digital-Money-Corp/765235273532318" target="_blank"><img src="images/gray_facebook.png" alt="FB"></a>
            </li>
            <li>
                <a href="https://twitter.com/digitalmoneyco " target="_blank"><img src="images/gray_twitter.png" alt="twitter"></a>
            </li>
            <li>
                <a href="https://plus.google.com/b/103887465375618998473/103887465375618998473/about " target="_blank"><img src="images/gray_google.png" alt="google"></a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-5 footerLogo-xs">
            <a href="#"><img src='../images/NetID_gray.png'/></a>
        </div>
        <div class="col-xs-7 legalInfo-xs">
            <p>NetID, 2015. All rights reserved.</p>
        </div>
    </div>    
</div>

