<!DOCTYPE HTML>
<html>

<div class="header col-sm-12">
    <div class="col-sm-2  logoContainer">
        <div class="col-sm-7 col-sm-offset-4 btn-group logoRatingButton">
            <button type="button" class="btn dropdown-toggle ratingDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #313131;">
                 <img src='../images/netIDLogo.png'/ style="width: 100px;">
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Master <strong>67</strong></a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Social <strong>41</strong></a></li>
                <li><a href="#">Professional <strong>58</strong></a></li>
            </ul>
        </div>
    </div>
</div>

</html>