<!DOCTYPE HTML>
<html>

<div class="header col-sm-12">
    <div class="row col-sm-2 col-sm-offset-10 logoContainer">
        <div class="logoBox">
            <a href="#">
                <div class="logo">
                    <img src='../images/netIDLogo.png'/>
                </div>
            </a>
        </div>
    </div>
</div>

</html>