<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>NetID</title>
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->


 
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-select.css">
    <link rel="stylesheet" href="/stylesheets/ratings.css">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/head.css" />
    <script src="https://fb.me/react-0.13.3.js"></script>
    <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
</head>
 <% include ./../../template/head.ejs %>
<body>

<div class="container-fluid">
    <div class="row">
    <section class="col-sm-12 mainContent">
<div class="col-sm-12 ratings_body_content">
    <div class="col-md-9 col-sm-12">
        <div class="col-md-10 col-md-offset-1 col-sm-12 master_head_container">
            <div class="col-sm-12 master_rating_heading">
                Master Rating
            </div>
            <div class="col-sm-11 col-sm-offset-1 master_rating_info">
                <div class="col-sm-3">
                    <div class=" col-sm-12 score_container img-circle">
                        <div class="master_score">94</div>
                    </div>
                </div>
                <div class="col-sm-7 col-sm-offset-1">
                    <p class="master_rating_description">This will be a description of the average of the two Category scores. Rich, our math guys is still figuring it out. We will have our description in this place which will be written by our awesome Media team. Bye</p>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1 col-sm-12 rating_tabs_container">
            <div class="col-sm-12">
                <ul class="nav nav-tabs ratings_tabs">
                    <li class="active social_tab_link"><a data-toggle="tab" href="#social_tab">Social</a></li>
                    <li class="prof_tab_link"><a data-toggle="tab" href="#prof_tab">Professional</a></li>
                </ul>
                <div class="tab-content ratings_custom_width">
                    <!-- going to need to fill the list tabs on the side w/ static info, but the content will be dynamically created -->
                    <div id="social_tab" class="tab-pane fade in active ratings_tab_info">
                        <div class="col-sm-3 ratings_list_holder">
                            <ul class="nav nav-stacked ratings_list">
                                <li><a href=".social_tab1" data-toggle="tab">Score</a></li>
                                <li><a href=".social_tab2" data-toggle="tab">Statistics</a></li>
                                <li><a href=".social_tab3" data-toggle="tab">Latest Transactions</a></li>
                                <li><a href=".social_tab4" data-toggle="tab">Dispute Summary</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-8 col-sm-offset-1">
                            <div class="tab-content">
                                <div class="tab-pane social_tab1 col-sm-12">
                                    Social Tab 1
                                </div>
                                <div class="tab-pane social_tab2 col-sm-12">
                                    Social Tab 2
                                </div>
                                <div class="tab-pane social_tab3 col-sm-12">
                                    Social Tab 3
                                </div>
                                <div class="tab-pane social_tab4 col-sm-12">
                                    Social Tab 4
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="prof_tab" class="tab-pane fade ratings_tab_info">
                        <div class="col-sm-3 ratings_list_holder">
                            <ul class="nav nav-stacked ratings_list">
                                <li><a href=".prof_tab1" data-toggle="tab">Score</a></li>
                                <li><a href=".prof_tab2" data-toggle="tab">Statistics</a></li>
                                <li><a href=".prof_tab3" data-toggle="tab">Latest Transactions</a></li>
                                <li><a href=".prof_tab4" data-toggle="tab">Dispute Summary</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-8 col-sm-offset-1">
                            <div class="tab-content">
                                <div class="tab-pane prof_tab1 col-sm-12">
                                    Professional Tab 1
                                </div>
                                <div class="tab-pane prof_tab2 col-sm-12">
                                    Professional Tab 2
                                </div>
                                <div class="tab-pane prof_tab3 col-sm-12">
                                    Professional Tab 3
                                </div>
                                <div class="tab-pane prof_tab4 col-sm-12">
                                    Professional Tab 4
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-sm-offset-1 persona_selector">
           <select class="form-control">
                <!-- This will need a JS function to populate the select with the options that are appropriate for each type of persona -->
                <option value="persona1">Persona 1</option>
                <option value="persona2">Persona 2</option>
                <option value="persona3">Persona 3</option>
            </select>
        </div>
        <div class="col-md-10 col-md-offset-1 col-sm-12 persona_info">
            <div class="col-sm-3 ratings_list_holder">
                <ul class="nav nav-stacked ratings_list">
                    <li><a href=".persona_tab1" data-toggle="tab">Score</a></li>
                    <li><a href=".persona_tab2" data-toggle="tab">Statistics</a></li>
                    <li><a href=".persona_tab3" data-toggle="tab">Latest Transactions</a></li>
                    <li><a href=".persona_tab4" data-toggle="tab">Dispute Summary</a></li>
                </ul>
            </div>
            <div class="col-sm-8 col-sm-offset-1">
                <div class="tab-content">
                    <div class="tab-pane persona_tab1 col-sm-12 persona_stats">
                        Persona Tab 1
                    </div>
                    <div class="tab-pane persona_tab2 col-sm-12 persona_stats">
                        Persona Tab 2
                    </div>
                    <div class="tab-pane persona_tab3 col-sm-12 persona_stats">
                        Persona Tab 3
                    </div>
                    <div class="tab-pane persona_tab4 col-sm-12 persona_stats">
                        Persona Tab 4
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="visible-md visible-lg col-sm-2 sideBar">
        <div class="row">
            <div class="col-sm-12 feedWidget">
                <div class="col-sm-12 feedHeader">
                    <p>Feed</p>
                </div>
                <div class="col-sm-12 feedMainContent">
                    <p class="first">You posted a new picture.</p>
                    <p class="first">You have a NetConnect Request.</p>
                    <p class="first">You posted a new picture.</p>
                    <p class="first">You have a NetConnect Request.</p>
                </div>
            </div>
            <div class="col-sm-12 chatWidget">
                <div class="col-sm-12 chatHeader">
                    <p>Chat</p>
                </div>
                <div class="col-sm-12 chatMainContent">
                    <div id="chatFriends"></div>
                    <br>
                    <div class="input-group chatSearch">
                        <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                        <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 </div>
</div>
        </section>
        <% include ./../../template/footer.ejs %>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/javascripts/jquery.bootstrap.wizard.js"></script>
<!-- <script src="js/bootstrap-select.js"></script> -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/javascripts/bootstrap-select.js"></script>
<script src="/javascripts/persona_view.js"></script>
<script type="text/javascript" src="/javascripts/ratings-ajax-calls-react.js"></script>
<script type="text/javascript" src="/javascripts/ratings.js">
</script>
<script type="text/javascript">
    $(document).ready(function(){
        ratings_page_load();
    });
</script>
</body>
</html>