/*MOBILE DEVICES*/
@media (max-width: 768px){
	.footer{
	padding-top: 8%;
	padding-bottom: 8%;
	}
	.social-xs img{
	height:30px;
	width:30px;
	display:block;
	}
	.social-xs ul{
	list-style: none;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-left: 0px;
	}
	.legalInfo-xs p{
	list-style: none;
	font-weight: 500;
	font-size:8px;
	color:#77787a;
	padding-top: 9px;
	}
	.footer-logo-xs > a>img{
	height: 30px;
	margin-top: 5px;
	}	
	.footernav-xs{
	margin-left: 5%;
	}
	.footernav-xs >li{
	list-style: none;
	display: inline-block;
	font-size: 11px;
	margin-right: 2%;
	}
	.footernav-xs>li>a{
	color:#77787a;
	}
	.logo-xs img{
	height:30%;
	}
}



.footer {
    width: 100%;
    background-color: #4B4B4D;
    border-top: 1px solid #e0e0dc;
}

.footer-logo{
	height:50px;
	float: left;
}
.footer-logo > img{
	height: 80%;
	margin-left: -18px;	
}
/*  LEFT NAV */

.footerNav{
	padding-top: 2%;
}
.footerNav ul{
	list-style: none;
}

.footerNav ul li{
	display:inline-block;
	margin-right: 1%;
}

.footerNav ul li a{
	font-family: "Roboto", sans-serif;
	margin-bottom:0px;
	font-weight: 500;
    font-size:1vw;
    color: #77787a;
    /*padding: 0px 9px;*/
    text-decoration: none;
    /*margin-right: 25px;*/
}

.footerNav ul li a:hover{
	color:#f6f6f6;
	transition: color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
}

/*  SOCIAL MEDIA BUTTONS */

.social img{
	height:35px;
	width:35px;
	display:block;
}

.social ul{
	list-style: none;
	padding-top: 7%;
	float: right;
	margin-bottom: 0px;
	margin-top: 0px;
	}

.social ul li{
	display:inline-block;
	padding-left: 7px;
}

/*  LEGAL INFO */

.legalInfo ul{
	list-style: none;
	padding-top: 10px;	
	font-size:14px;
	color:#77787a;
	font-weight: 500;
}


.legalInfo ul li{
	margin-bottom: -8px !important;
	margin-top:0px;
}